body{
  margin:0;
  padding: 0;
  background-color: #1687ED;
}
h1{
  text-align: center;
}
.jumbotron{
  background-image: url("../images/dice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
